src/flows/CONTRATTO_SCREEN_CREAZIONE_LICENZE.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>i</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>i</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>i</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>licenzaCorrente.Contratto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LicenzeDaInserire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>licenzaCorrente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>I_numero_licenze</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>I_numero_licenze</name>
        <label>I &lt; numero licenze?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Inserisci_Licenze</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>i</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NumeroLicenzeNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CONTRATTO - SCREEN - CREAZIONE LICENZE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTRATTO - SCREEN - CREAZIONE LICENZE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Inserisci_Licenze</name>
        <label>Inserisci Licenze</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <inputReference>LicenzeDaInserire</inputReference>
    </recordCreates>
    <screens>
        <name>NumeroLicenze</name>
        <label>NumeroLicenze</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>I_numero_licenze</targetReference>
        </connector>
        <fields>
            <name>QuanteLicenze</name>
            <fieldText>&lt;p&gt;QUante licenze devi creare?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NumeroLicenzeNumber</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Numero Licenze</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NumeroLicenze</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>i</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>licenzaCorrente</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Licenza__c</objectType>
    </variables>
    <variables>
        <name>LicenzeDaInserire</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Licenza__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
